#stopbtn, #resumebtn {
    margin-left: 2.5%;
}

#startbtn, #stopbtn, #resumebtn {
    margin-top: 3%;
    color: white;
}

#taskList {
    margin-top: 2.5%;
}

input[name='taskdescription'] {
    margin-top: 7%;
    width: 85%;
}

li {
    margin-top: 1%;
}

.jumbotron h1 {
    color: white;
}

.alert {
    width: 85%;
}
