<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div style="background-color:deepskyblue" class="jumbotron">
    <h1>Task Tracker app</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-center">{{hour}}:{{minute}}:{{second}}</p>
      <div class="row">
        <button class="btn btn-primary col-md-2" (click)='startTimer()'>START</button>
        <button class="btn btn-danger col-md-2" (click)='pauseTimer()'>STOP</button>
        <button class="btn btn-warning col-md-2" (click)='resumeTimer()'>RESUME</button>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

