<div style="text-align:center">
    <div style="background-color:deepskyblue" class="jumbotron">
        <h1>Time Tracker app</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="timer">
            <h1 class="display-1 text-center font-weight-normal">{{hour}}:{{minute}}:{{second}}</h1>
            <div class="btn-group justify-content-md-center special" role="group">
                <button class="btn btn-primary col-md-2 rounded" id="startbtn"
                        (click)='startTimer(taskdescription.valid)'>START
                </button>
                <button class="btn btn-danger col-md-2 rounded" id="stopbtn" (click)='pauseTimer()'>STOP</button>
                <button class="btn btn-warning col-md-2 rounded" id="resumebtn" (click)='resumeTimer()'>RESUME</button>
            </div>
            <div class="row justify-content-md-center">
                <input class="form-control form-control-lg rounded-0" name="taskdescription" required
                       #taskdescription="ngModel" placeholder="Describe the task here..." [(ngModel)]="description"
                       [readonly]="isTextDisabled">
                <div *ngIf="taskdescription.invalid && isStartbtnClicked"
                     class="alert alert-danger">
                    <div [hidden]="!taskdescription.errors.required">
                        Task description is required!
                        <button type="button" class="close pull-right" aria-label="Close"
                                (click)="isStartbtnClicked=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 align-items-end" id="taskList">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <h2>Past Task List</h2>
                </div>
                <div class="col-md-7">
                    <div class="form-group row no-gutters">
                        <label class="col-5 text-right col-form-label"><strong>Filter by date:</strong>&nbsp;</label>
                        <div class="col-7">
                            <input class="form-control" type="date" id="date" [(ngModel)]="selectedDate"
                                   (input)="filterTask($event.target.value)">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li *ngFor="let task of display | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: page }">
                    <app-task [task]="task" (getId)="deleteTask($event)"></app-task>
                </li>
            </ul>
            <pagination-controls (pageChange)="page = $event" align="right"></pagination-controls>
        </div>
    </div>
</div>
